//  tikicorp/scss/tikicorp.scss compile to make
/*  The Tikicorp theme stylesheet for Tiki Wiki CMS Groupware. */


@import "fonts";
@import "../../base_files/scss/_tiki-bootstrap_functions"; // Required Bootstrap

@import "variables"; // Theme overrides of Bootstrap defaults plus any additional variables



@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../default/scss/variables"; // Bootstrap default variables, with a few Tiki overrides

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // Optional Bootstrap

@import "../../base_files/scss/_tiki-selectors.scss"; // Tiki CSS selectors used globally
@import "_tiki-selectors.scss"; // Tiki CSS selectors used by the theme
@import "../../base_files/scss/_external-scripts.scss"; // Why is this imported separately?
@import "../../base_files/scss/_select2-tiki_colors.scss"; // Why isn't this imported by external scripts?


// override for some cypht background colors
body.tiki.tiki-webmail {
    background-image: url('#{$imagePath}bg-body.jpg');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .card h3 { color: $popover-header-color; }
}
