// $Id$
// Blogs

// Remove borders and background colors from .card-related divs to modernize blog post appearance.
// Themes can reinstate these totally or partially to match the theme style.

.tiki_blogs .card.blogpost {
    &,
    & .card-header,
    & .card-footer {
    background-color: transparent;
    border: none;
    }
}

.blogheading {
    display: block;
    width: 100%;
    clear: both;
}

.blogdesc {
    display: block;
    width: 40%;
    padding: 8px;
    margin-top: 8px;
    margin-left: 6px;
}

.bloginfo {
    display: block;
}

.blogactions {
    float: right;
}

.postinfo {
    margin-bottom: 20px;
    margin-top: 10px;
    div {
        margin-top: 30%;
    }
}

div.posthead {
    text-align: left;
    padding: 3px;
}

span.posthead {
    display: block;
}

.postbody-title .panel-title { // Needs to be updated or removed
    font-size: 1.4em;
}

//body.tiki_blogs .post_single {
//    padding-bottom: 30px;
//}

.breadcrumb {
    font-size: $breadcrumb-font-size;
    font-style: $tiki-breadcrumb-font-style;
//    display: $breadcrumb-display;
}

small.description {
    display: block;
}

.description {
    font-size: .95em;
    font-style: italic;
}

// Related content
.related_posts,
.related_articles {
    margin-top: 3em;
}

.related_posts h4,
.related_articles h4 {
    margin: 0;
}
