/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/yeti/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/yeti/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";

// Additional for Tiki
// Fix bad contrast
.dropdown-item.text-danger {
    background: #fff;
    border-radius: 0;
    &:hover {
        color: #fff !important;
    }
}

// Update for Smartmenus
.navbar-dark.bg-dark .dropdown-menu.mega-menu a,
.dropdown-item {
    color: $navbar-dark-color;
}

.navbar-dark.bg-dark .dropdown-menu.mega-menu a:hover,
.navbar-dark.bg-dark .dropdown-menu.mega-menu a:hover:focus  {
    background-color: darken($gray-800, 5%);
    color: #fff;
}

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}