// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
//
// Colors
// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;
$light: #fff;
$dark: #000;

$primary: #005faa;
$success: #48ca3b;
$info: #1373c0;
$warning: #f0ad4e;
$danger: #df6e1e;

$theme-colors: (
     "primary":             #005faa, //#0099cc,
     "secondary":           #52269c,
     "success":             #48ca3b, //#5cb85c,
     "info":                #1373c0,
     "warning":             #f0ad4e,
     "danger":              #df6e1e,
     "light":               #ffffff,
     "dark":                #efefef
);

// Options
// Spacing

// Body
$body-bg: #fff;
//$body-color: $gray-800;

// Links
$link-color: #09c;
$link-hover-color: #ff5c1a;
// Components
$border-radius:               0rem;
$border-radius-lg:            .2rem;
$border-radius-sm:            .1rem;

// Fonts
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Mukta', sans-serif;
$font-family-base: $font-family-serif;
$headings-font-family: inherit;
$headings-font-weight: 800;
// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-border-radius: 5px;
//$btn-default-color: #ffffff;
//$btn-default-bg: #3676c4;
//$btn-default-border: #3676c4;

//$btn-primary-color: #ffffff;
//$btn-primary-bg: #3676c4;

// Forms
//$input-border: #dddddd;
// Dropdowns
// Navs
// Navbar
$navbar-dark-color: #333; // unintuitive but has to match class of div in tpl
$navbar-dark-active-color: $navbar-dark-color;
$navbar-dark-active-hover-color: $navbar-dark-active-color;
$navbar-dark-bg: #efefef; // ditto
$navbar-dark-hover-color: #ff5c1a;
$navbar-nav-link-padding-x: 2rem;

$navbar-light-color: $navbar-dark-color;
$navbar-light-hover-color: $navbar-dark-hover-color;

//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

//$navbar-dark-hover-color: darken(#fff, 10%);
//$navbar-dark-hover-bg: #3270bd;
//$navbar-dark-active-color: #ffffff;
//$navbar-dark-active-bg: #3270bd;
//$navbar-dark-disabled-color: #cccccc;

// Pagination
// Jumbotron
// Cards
$card-bg: #fbfbfb;
$card-border-color: transparent;
//$card-border-radius: $border-radius-lg;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: #386dbb;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// - - - - - - - - - - - - - - - - - CSS variables, if any - - - - -

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: #F3F6F9;
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-bg-light: #F3F6F9;
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-top-bg-dark: #efefef;
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-bg-dark: #efefef;
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}
