//Custom styles for the FiveAlive Orange option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$gray-600: #6c757d;
$gray-900: #212529;

$white:    #fff;
$black:    #000;
$light: #e77d4f;

$primary:       #f06423;
$secondary:     #952f20;
$success:       #5cb85c;
$info:          #ba3a26;
$warning:       #f0ad4e;
$danger:        #EB0004; // #ff3338;
$light:         #fdde9f; // #ffcd70; // #e77d4f;
$dark:          #e77d4f;

$theme-colors: (
    "primary":            #f06423,
    "secondary":         #952f20,
    "success":             #5cb85c,
    "info": #ba3a26,
    "warning":             #f0ad4e,
    "danger":           #EB0004, //#ff3338,
    "light":            #fdde9f, // #e77d4f,
    "dark":                #e77d4f
);

$link-color: #c74b23;
$link-hover-color:               darken($link-color, 15%);

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f8e4dd; // Same as $input-bg
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #e36732; // Same as $dropdown-link-hover-bg;

// Navbars

// Typography
$hr-border-color: #e77d4f;
$text-muted:  #6B737B;

// Cards
$card-border-color: #e77d4f;

// Tables
$table-border-color: #e77d4f;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #f8e4dd;
$input-border-color: #fac5b1;
$input-border-top-color: #fac5b1;
$input-border-right-color: #fbf1ed;
$input-border-bottom-color: #fbf1ed;
$input-border-left-color: #fac5b1;

// Form validation

// Dropdowns
$dropdown-bg: #c44a23;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #e36732;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: #ae421f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #c74b23;
$pagination-color: #c74b23;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e77d4f;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c74b23;
$pagination-active-border-color: #c74b23;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;
$bg-dark: #000;
$bg-light: #ffcd70; // #fddacb !important;

$top-bg: #F09C00; // #a53723;
$top-color: #000;
$top-link-color: #000;
$top-link-hover-color: #f9f9f9;

$topbar-bg: #7e301e; // #FFA500; // #CA4C12;
$bg-dark-info: #f2f2f2;
//$navbar-fixed-top-bg: #e4af00;
$page-header-link-color: #000;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

$topbar-link-color: #000;

$topbar-dark-bg: #33140a;
$top-light-bg: transparent; // #117485;
$top-light-color: #f9f9f9;
$top-light-link-color: $top-light-color;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;

$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $black;
$top-dark-link-color: $top-dark-color;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-color: $top-light-color;
$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;


$side-column-heading-color: #e77d4f;

$footer_liner-card-inner-border: #ebdc14;

$footer-accent-color: #ebdc14;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #e77d4f;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #ae421f;


//.bg-dark {background: #33140a !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #ec6223;
$autotoc-color: #c74b23;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #ae421f;
$topbar-dark-bg: #33140a;
$postbody-title-card-title-color: #fff;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%);
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-link-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-link-hover-color};

    --tiki-topbar-bg-light: #{$topbar-light-color};
    --tiki-topbar-light-color: #{$topbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-link-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-top-bg-dark: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%);
    --tiki-top-dark-color: #{$top-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-link-hover-color};

    --tiki-topbar-bg-dark:#{$topbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-link-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-link-hover-color};
}