/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions";

@import "variables";
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/lux/bootswatch";
//@import "../../base_files/scss/_tiki-bootstrap_layout_and_components";

@import "../../base_files/scss/_tiki-selectors.scss";
@import "_tiki-selectors.scss"; // Tiki CSS selectors used by the theme
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // Import if needed to specify top and topbar zone colors in more detail
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar .nav-link {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}