{* $Id$ *}
{strip}
    {tikimodule error=$module_params.error title=$tpl_module_title name="logo" flip=$module_params.flip decorations=$module_params.decorations nobox=$module_params.nobox notitle=$module_params.notitle}
        {*<div class="position-relative" {if $prefs.site_layout eq 'social' && $prefs.theme_navbar_fixed_topbar_offset ne ''} style="height: {$prefs.theme_navbar_fixed_topbar_offset}px;" {/if}>*}
        <a class="navbar-brand d-flex {$module_params.class_image|escape}" href="{$module_params.link}" title="{$module_params.title_attr|escape}">
            {if $module_params.src}
                <img class="sitelogo-img img-fluid me-3" src="{$module_params.src}" alt="{$module_params.alt_attr|escape}" {if $prefs.site_layout eq 'social' && $prefs.theme_navbar_fixed_topbar_offset ne ''} style="height: calc({$prefs.theme_navbar_fixed_topbar_offset}px - ( 2 * var(--bs-navbar-padding-y)) ); width: auto;{* margin-top: var(--bs-navbar-padding-y); margin-bottom: var(--bs-navbar-padding-y)*}"{/if}>
            {/if}
            {if !empty($module_params.sitetitle) or !empty($module_params.sitesubtitle)}
                {if $prefs.site_layout neq 'social'}<div class="sitetitles"><div class="d-flex">{/if}
                {if !empty($module_params.sitetitle)}
                    <div class="sitetitle">{tr}{$module_params.sitetitle|escape}{/tr}</div>
                {/if}
                {if !empty($module_params.sitesubtitle)}
                    <div class="sitesubtitle">{tr}{$module_params.sitesubtitle|escape}{/tr}</div>
                {/if}
                {if $prefs.site_layout neq 'social'}</div></div>{/if}
            {/if}
        </a>
            {if $tiki_p_admin eq "y"}<a class="btn btn-primary btn-sm bottom my-3 mx-1 position-absolute tips" href="tiki-admin.php?page=look&cookietab=2&highlight=sitelogo_src#feature_sitelogo_childcontainer" style="left: 0; opacity: .5" title="{tr}Change the logo:{/tr} {tr}Click to change or upload new logo{/tr}">{icon name="image"}</a>{/if}
       {* </div> *}
    {/tikimodule}
{/strip}