/* Ohia theme newsletter stylesheet  */
:root {
  --tiki-top-bg-light: #3585D0;
  --tiki-top-light-color: #030303;
  --tiki-top-light-link-color: #030303;
  --tiki-top-light-link-hover-color: #171717;
  --tiki-topbar-bg-light: #3585D0;
  --tiki-topbar-light-color: #030303;
  --tiki-topbar-light-link-color: #030303;
  --tiki-topbar-light-link-hover-color: rgba(255, 255, 255, 0.75);
  --tiki-top-bg-dark: #343a40;
  --tiki-top-dark-color: rgba(255, 255, 255, 0.55);
  --tiki-top-dark-link-color: rgba(255, 255, 255, 0.55);
  --tiki-top-dark-link-hover-color: rgba(255, 255, 255, 0.75);
  --tiki-topbar-bg-dark: #343a40;
  --tiki-topbar-dark-color: rgba(255, 255, 255, 0.55);
  --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.55);
  --tiki-topbar-dark-link-hover-color: rgba(255, 255, 255, 0.75);
}
body {
  background: #030303;
  color: #DEE1E6;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a, a:visited {
  color: #80A60F;
  text-decoration: none;
}
a:hover {
  color: #f4f4f4;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
